main {
  min-height: 80vh;
}

.navbar {
  min-height: 6rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

.navbar:before, 
.navbar:after {
  background: inherit;
  content: '';
  display: block;
  height: 75%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}

.navbar:after {
  bottom: 0;
  transform: skewY(-2deg);
  transform-origin: 100%;
}

.navbar a {
  color: #bc658b !important;
}

.home-heading {
  margin: 8rem 0rem 3rem 0rem;
  padding: 0rem 0rem 0.5rem;
  border-bottom: 2px solid #6CC8C5;
}

.jumbotron-intro { 
  background: #fff;
  color: #6CC8C5;
  padding: 2rem;
  margin: 6rem;
  box-shadow: 1px 1px 5px 1px #763f57;
  opacity: 0.8;
  transform: skewY(-2deg);
  transform-origin: 100%;
}

.jumbotron-intro h1 {
  color: #bc658b;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a i:hover{
  transform: scale(1.3);
}

.social-icons a i{
  margin: 1rem;
  border-radius: 50%;
  font-size: 2rem;
  transition: .3s;
}

.fa-tiktok{
  color: #000000;
  text-shadow: 0 0 15px #fff;
}

.fa-instagram{
  color: #e23670;
  text-shadow: 0 0 15px #fff;
}

.fa-facebook{
  color: #456cba;
  text-shadow: 0 0 15px #fff;
}

address a[href^="tel"]{
  text-decoration: none;
}

.footer-wrapper {
  margin: 6rem 0rem 0rem;
  padding: 2rem 0rem 1rem;
  background: #fff;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.footer-wrapper:before,
.footer-wrapper:after {
  background: inherit;
  content: '';
  display: block;
  height: 75%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}

.footer-wrapper:before {
  top: 0;
  transform: skewY(-3deg);
  transform-origin: 0% 0;
}

.footer-wrapper:after {
  bottom: 0;
  /* transform: skewY(-1deg); */
  transform-origin: 100%;
}

.github-link, .github-link:visited, .github-link:link {
  /* color: #EC7FAE; */
  text-decoration: none;
}
